.question {
    position: static;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
}

.form-group {
    width: 400px;
    margin: auto;
}

#score{
    margin-top: 180px;
}

#time-left{
    margin-top: 180px;
}